* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #283747;
  line-height: 1.6;
  background-color: #f8f8f8;
}

.quiz {
  position: absolute;
  width: 500px;
  background-color: #fff;
  top: 10%;
  left: 30%;
}

#quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: 5%;
}

// nav-panel
nav {
  display: flex;
  justify-content: flex-end;
}

a {
  display: inline-block;
  margin: 10px 10px 0 0;
  background-color: #ebebeb;
  border-radius: 10%;
  width: 50px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/*заголовки*/
.article-header{
  text-align: center;
  margin: 5%;
}

p {
  &.paragraph, &.subparagraph {
    text-align: left;
  }

  &.quiz__card-question {
    text-align: center;
    font-weight: 700;
    margin-bottom: 2%;

    &:before {
      content: attr(data-index) "/" attr(data-total);
      display: block;
      font-weight: 400;
      text-align: center;
    }
  }
}


/*кнопки*/

#start {                                 //начальная кнопка
  background-color: #f8f8f8;
  border-color: black;
  width: auto;
  height: auto;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.quiz__card-button {
  display: none;

  &.visible {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-color: black;
    cursor: pointer;
  }
}

//hovers on buttons

a, #start, .quiz__card-button {
  &:hover {
    background-color: #e3e3e3;
  }
}

//hide default buttons
input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
}


//карточки

.quiz__card {
  display: none;

  &.visible {
    display: block;
    width: 100%;
  }
}


/* Вопросы */

ul {
  list-style-type: none;
}

.quiz__card-answers {
  small {
    display: none;
  }

  input {
    position: absolute;
  }
}

label {
  display: flex;
  position: relative;
  padding: 9px 0 11px 0;
  z-index: 1;
  cursor: pointer;

  //custom buttons
  &:before{
    content: url('icons/default.png');
    display: block;
    margin-right: 10px;
  }

  &:hover:before{
    content: url('icons/hover.png');
  }
}

/* отвеченные вопросы */

.answered {
  li {
    color: #9d9d9d;
    pointer-events: none;
    label:before{
      opacity: 0.5;
    }

    &.correct label:before{
      content: url('icons/correct1.png');  //показать прав ответ, если он не выбран
      opacity: 1;
    }

    &.checked {

      &.correct {
        color: green;
        label:before{
          content: url('icons/correct.png');
          opacity: 1;
        }
      }

      &.incorrect {
        color: red;
        label:before{
          content: url('icons/wrong.png');
          opacity: 1;
        }
      }

      small {
      display: block;
      }
    }
  }
}
