@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #283747;
  line-height: 1.6;
  background-color: #f8f8f8;
}

.quiz {
  position: absolute;
  width: 500px;
  background-color: #fff;
  top: 10%;
  left: 30%;
}

#quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: 5%;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  display: inline-block;
  margin: 10px 10px 0 0;
  background-color: #ebebeb;
  border-radius: 10%;
  width: 50px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/*заголовки*/
.article-header {
  text-align: center;
  margin: 5%;
}

p.paragraph, p.subparagraph {
  text-align: left;
}
p.quiz__card-question {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2%;
}
p.quiz__card-question:before {
  content: attr(data-index) "/" attr(data-total);
  display: block;
  font-weight: 400;
  text-align: center;
}

/*кнопки*/
#start {
  background-color: #f8f8f8;
  border-color: black;
  width: auto;
  height: auto;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.quiz__card-button {
  display: none;
}
.quiz__card-button.visible {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px 15px 10px 15px;
  margin-top: 20px;
  background-color: #f8f8f8;
  border-color: black;
  cursor: pointer;
}

a:hover, #start:hover, .quiz__card-button:hover {
  background-color: #e3e3e3;
}

input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
}

.quiz__card {
  display: none;
}
.quiz__card.visible {
  display: block;
  width: 100%;
}

/* Вопросы */
ul {
  list-style-type: none;
}

.quiz__card-answers small {
  display: none;
}
.quiz__card-answers input {
  position: absolute;
}

label {
  display: flex;
  position: relative;
  padding: 9px 0 11px 0;
  z-index: 1;
  cursor: pointer;
}
label:before {
  content: url("icons/default.png");
  display: block;
  margin-right: 10px;
}
label:hover:before {
  content: url("icons/hover.png");
}

/* отвеченные вопросы */
.answered li {
  color: #9d9d9d;
  pointer-events: none;
}
.answered li label:before {
  opacity: 0.5;
}
.answered li.correct label:before {
  content: url("icons/correct1.png");
  opacity: 1;
}
.answered li.checked.correct {
  color: green;
}
.answered li.checked.correct label:before {
  content: url("icons/correct.png");
  opacity: 1;
}
.answered li.checked.incorrect {
  color: red;
}
.answered li.checked.incorrect label:before {
  content: url("icons/wrong.png");
  opacity: 1;
}
.answered li.checked small {
  display: block;
}

/*# sourceMappingURL=master.css.map */
